body {
    font-family: Arial, sans-serif;
    background: url('/path/to/your/background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: rgb(71, 149, 252);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    color:white
}

button:hover {
    background-color: rgb(90, 161, 255);
}

p {
    margin-top: 20px;
}
